
@{
    ViewData["Title"] = "HomePage";
}

<meta name="viewport" content="width=device-width, initial-scale=1" />

<img src="~/images/Home/Title_Home.png" id="img-title" alt="無法顯示圖片">
<img src="~/images/Home/bg_Home.jpg" id="picture-home" alt="無法顯示圖片">

<div class="row">
    <div class="col-md-3">
        <ul></ul>
        <ul style="font-family:微軟正黑體, 'Arial Narrow', Arial, sans-serif">
            <li>班級: 資工三甲</li>
            <li>組員: 周彥亞、吳佳融、鄭仿茹、陳楷婷</li>
        </ul>
    </div>
</div>

